<html>

<head>
  <title>Express SSR</title>
</head>

<body>
  <div id="main"><%- content %></div>

  <script src="/app.js" charset="utf-8"></script>
  <script src="/vendor.js" charset="utf-8"></script>
</body>

</html>